@mixin ripple($color, $bg:"#ffffff00") {
    background-position: center;
    &:hover{
        transition: background 0.4s;
        background: unquote($bg) radial-gradient(circle, transparent 1%, $color 1%) center/15000%;
    }
    &:active{
        background-color: #00000033;
        background-size: 100%;
        transition: background 0s;
    }
}
