:root {
    --bg-color: #f2f2f2;
    --color: #626469;
    --emphasis: #375160;

    --primary: #9AD1ED;
    --emphasis-primary: #c5e2f1;

    --secondary: #466372;
    --emphasis-secondary: #466372;

    --light: #909090;
    --super-light:  #f4f4f4;
    --error: #f26d6d;
    --success: #63d9b1;

    --dark: #313538;
}

html {
    font-family:"San Francisco","Roboto","Arial",sans-serif;
    -webkit-text-size-adjust:100%;
    background: var(--bg-color);
    color: var(--color);
}
body {overflow: hidden;}
body, html{
    height: 100%;
    margin: 0;
}
#main{height: 100%;}
a{color: inherit; text-decoration: none;}

select{-moz-appearance: none;}
select:-moz-focusring {
    color: inherit;
    outline: none;
    border: none;
}
select::-ms-expand {
    display: none;
}

button::-moz-focus-inner {
  border: 0;
}


input, textarea{
    transition: border 0.2s;
    outline: none;
}
input[type="checkbox"]{position: relative; top: 1px; margin: 0; padding: 0;}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



button:focus,
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: none !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}







.connect-form input:hover, .connect-form textarea:hover,
.connect-form input:focus, .connect-form textarea:focus{
    border-color: rgb(154, 209, 237)!important;
}

.drag-drop{
    z-index: 2;
}
.drag-drop.dragging > div{
    background: rgba(0,0,0,0.1);
}




/* CONNECTION FORM */
.login-form button.active{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.20);
}



::-webkit-scrollbar{
    height:4px;
    width:4px
}
::-webkit-scrollbar-track{
    background:rgba(0,0,0,.1)
}
::-webkit-scrollbar-thumb{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    background:rgba(0,0,0,.2);
}
.scroll-y{
    scrollbar-3dlight-color:#7d7e94;
    scrollbar-arrow-color:#c1c1d1;
    scrollbar-darkshadow-color:#2d2c4d;
    scrollbar-face-color:rgba(0,0,0,.1);
    scrollbar-highlight-color:#7d7e94;
    scrollbar-shadow-color:#2d2c4d;
    scrollbar-track-color:rgba(0,0,0,.1);
}
