.component_textarea{
    background: inherit;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgba(70, 99, 114, 0.1);
    width: 100%;
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    padding: 5px 0px 5px 0px;
    margin: 0 0 8px 0;
    outline: none;
    box-sizing: border-box;
    color: inherit;
}
