/* PAGINATION */
.component_pager {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    opacity: 0.2;
    margin: auto;
    padding: 15px;
    color: #f2f2f2;
    z-index: 1;
}
.component_pager.left { left: 0; padding-right: 50px; }
.component_pager.right { right: 0; padding-left: 50px; }
.touch-yes .component_pager.left { display: none; }
.touch-yes .component_pager.right { display: none; }
.component_pager:hover {
    opacity: 0.9;
    transition: opacity 0.5s ease;
}
.component_pager a { margin: auto; }
.component_pager a svg {
    transition: opacity 0.2s ease;
    width: 37px;
    padding: 8px;
    background: var(--dark);
    border-radius: 50%;
    margin: auto;
    opacity: 0.75;
}
.touch-no .component_pager a svg:hover {
    opacity: 1;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.05);
}
