node_modules/
.sass-cache
dist/
*_generated.go
test/
*.a
*.o
*.bin
.DS_Store
package-lock.json
\#*\#
.\#*
*.log
*~
*.swp
*.swo
.tern-port
.tern-project.js
*_test.go
cover.*
www
.gitignore


# frontend
public/**/*.test.js
public/**/__snapshots__
public/jest.setup.js
public/package.json
public/README.org

filestash-enterprise