.filelist-item-appear{
    opacity: 0;
    transform: translateY(5px);
}
.filelist-item-appear.filelist-item-appear-active{
    transition: all 0.2s ease-out;
    transform: translateY(0px);
    opacity: 1;
}

.component_filesystem{
    > div{
        height: 100%;
        .list{
            clear: both;
            padding-bottom: 30px;
        }

        .error{
            text-align: center;
            font-weight: 100;

            margin: 0 auto;
            opacity: 0.9;
            font-size: 1.2rem;
            color: var(--light);
            height: 100%;
            opacity: 0.8;
            font-family: sans-serif;

            .component_icon{
                height: 200px;
            }
            .label{ margin-top: -40px; }

            padding: 50px 0;
            @media screen and (max-width: 420px) {
                padding: 30px;
            }
        }
    }
}
