.filelist-item-appear{
    opacity: 0;
    transform: translateY(5px);
}
.filelist-item-appear.filelist-item-appear-active{
    transition: all 0.2s ease-out;
    transform: translateY(0px);
    opacity: 1;
}

.component_filesystem{
    > div{
        height: 100%;
        .list{
            clear: both;
            padding-bottom: 30px;
        }

        .error{
            text-align: center;
            font-weight: 100;

            background: #ffffffaa;
            border-radius: 50%;
            max-width: 250px;
            margin: 0 auto;
            opacity: 0.9;
            font-size: 20px;
            color: var(--light);
            margin-top: 50px;
            height: 100%;
            opacity: 0.8;
            border: 1px solid rgba(0,0,0,0.1);
            font-family: sans-serif;

            .component_icon{
                height: 100px;
            }

            padding: 50px;
            @media screen and (max-width: 420px) {
                padding: 30px;
            }
        }
    }
}
