.component_tag {
    input {
        font-size: 1.2em;
    }
    input::placeholder {
        font-weight: 100;
    }
    .box {
        display: flex;
        background: var(--bg-color);
        transition: background 0.1s ease;
        &.active{ background: var(--primary); color: var(--color); }
        padding: 5px 10px;
        border-radius: 3px;

        > div {
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        img {
            width: 20px;
            background: rgba(0,0,0,0.05);
            border-radius: 50%;
            margin-left: 5px;
            &[alt="close"] {
                width: 14px;
                padding: 3px;
            }
        }
        .count {
            opacity: 0.5;
            font-size: 0.9rem;
            &:before { content: "["; }
            &:after { content: "]"; }
        }
    }
    .scroll-y {
        overflow-y: auto !important;
        max-height: 200px;
    }
}
