// Menu for new file and directory
.menubar{
    font-size: 15px;
    line-height: 15px;
    height: 15px;
    margin-top: 5px;
    color: var(--light);
    margin: 0 0 10px 0;

    > span{cursor: pointer; margin-right: 15px;}
    select{
        float: right;
        color: var(--light);
        background: none;
        border-radius: 3px;
        outline: none;
        border: 1px solid var(--light);
        font-size: 12px;
    }
}

.component_thing{
    clear: both;
    &:hover .box, .highlight.box{
        background: var(--super-light);
        border-color: var(--super-light);
    }
    &:hover .box:not(.loading){
        .component_datetime{display: none;}
        .component_action{display: block;}
    }
    .component_action{display: none;}


    .file-is-hover{
        background: var(--emphasis-primary);
    }
    .file-is-dragging{
        opacity: 0.15;
    }


    .file-details{
        padding: 0 5px;
        line-height: 22px;
        white-space: nowrap;
        > span{
            display: inline-block;
            width: calc(100% - 130px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: bottom;
            color: inherit;
        }
    }
    form{
        display: inline-block;
        input{
            font-size: 1em;
            border-width: 0px;
            padding: 0 2px 0 2px;
            background: inherit;
            border-bottom: 2px solid var(--emphasis-primary);
            color: var(--color);
        }
    }

    .component_icon{
        width: 25px;
        height: 25px;
    }

    .component_filesize{
        span{
            color: var(--light);
            font-size: 0.85em;
        }
    }

    .component_message{
        color: var(--light);
        font-size: 0.9em;
        padding-left: 10px;
    }

    .component_datetime{
        float: right;
        color: var(--light);
        line-height: 25px;
        margin: 0 -10px;
        padding: 0 10px;
        position: relative;
    }

    .component_action{
        float: right;
        color: #6f6f6f;
        line-height: 25px;
        margin: 0 -10px;
        padding: 0 10px;
        position: relative;
        .component_icon{
            padding: 1px 0;
            box-sizing: border-box;
        }
    }

}
