body:not(.dark-mode) .component_appframe {
    background: var(--surface);
}

.component_appframe {
    text-align: center;
    width: 100%;
}
.component_appframe iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.component_appframe .error {
    color: white;
    font-size: 17px;
    margin-top: 10px;
    font-family: monospace;
}
