.component_skeletonviewer {
    background: #52565911;
}
.component_skeleton_container {
    height: 100%;
    width: 100%;
    position: relative;
}
.component_skeleton_container > .component_loader {
    width: 100%;
}
