.component_formviewer {
    background: var(--surface);
}
.dark-mode .component_formviewer {
    color: rgba(0,0,0,0.5);
}
.component_formviewer > .formviewer_container {
    padding-top: 20px;
    padding-bottom: 50px;
    overflow-y: auto;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
.component_formviewer > .formviewer_container .box {
    padding: 25px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(0,0,0,.1) 0px 4px 5px 0px;
    width: 98%;
    max-width: 800px;
    margin: 0 auto;
}
.component_formviewer > .formviewer_container .box .formbuilder {
    margin-bottom: 10px;
}
.component_formviewer > .formviewer_container .box .formbuilder label.no-select > div {
    display: flex;
    line-height: 30px;
}
.component_formviewer > .formviewer_container .box .formbuilder label.no-select > div > div {
    width: 100%;
}
@media screen and (max-width: 470px) {
    .component_formviewer > .formviewer_container .box .formbuilder label.no-select > div {
        display: block;
        line-height: inherit;
    }
    .component_formviewer > .formviewer_container .box .formbuilder label.no-select > div span.nothing {
        position: absolute;
    }
}
.component_formviewer > .formviewer_container .box .formbuilder label.no-select > div > span {
    display: inline-block;
    width: 160px;
    max-width: 160px;
    text-align: right;
    padding-right: 15px;
    color: var(--dark);
}
@media screen and (max-width: 470px) {
    .component_formviewer > .formviewer_container .box .formbuilder label.no-select > div > span {
        text-align: left;
        font-weight: bold;
    }
}
.component_formviewer > .formviewer_container .box .formbuilder label.no-select > div > span span.mandatory {
    opacity: 0.6;
}
.component_formviewer > .formviewer_container .box .formbuilder label.no-select > div div.description a {
    border-bottom: 1px dashed var(--color);
}

.component_formviewer .formbuilder .component_input[disabled],
.component_formviewer .formbuilder .component_input[readonly],
.component_formviewer .formbuilder .component_textarea[disabled],
.component_formviewer .formbuilder .component_textarea[readonly],
.component_formviewer .formbuilder .component_select[disabled],
.component_formviewer .formbuilder .component_select[readonly] {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding-left: 7px;
    border-color: transparent;
}

.component_formviewer fieldset {
    margin-bottom: 10px;
    border: 2px solid var(--border);
    border-radius: 5px;
    color: var(--light);
}
