.component_fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  background: transparent;
}
.component_fab .content:empty {
    display: none;
}
.component_fab .content {
    height: 25px;
    width: 25px;
    padding: 13px;
    border-radius: 50%;
    background: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
    z-index: 1000;
    cursor: pointer;
}
