.component_password{
    > p{
        text-align: center;
        font-size: 1.1em;
        margin: 0 0 10px 0;
    }
    .error{
        color: var(--error);
    }
    .buttons{
        display: flex;
        margin: 15px -20px;
        [type="submit"]{
            border-radius: 10px 0 0;
        }
    }
}


/***********************/
/* APPEAR TRANSITION */
.form-appear{ opacity: 0;}
.form-appear.form-appear-active{
    opacity: 1;
    transition: opacity 0.1s ease;
}

/***********************/
/* ENTER TRANSITION */
.form-enter{ opacity: 0;}
.form-enter.form-enter-active{
    opacity: 1;
    transition: opacity 0.1s ease;
}


/***********************/
/* LEAVE TRANSITION */
.form-leave{ opacity: 1;}
.form-leave.form-enter-active{
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
