.component_forkme{
    .github-corner:hover .octo-arm{
        animation:octocat-wave 560ms ease-in-out
    }
    @keyframes octocat-wave{
        0%,100%{transform:rotate(0)}
        20%,60%{transform:rotate(-25deg)}
        40%,80%{transform:rotate(10deg)}
    }
    @media (max-width:500px){
        .github-corner:hover .octo-arm{animation:none}
        .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
    }
    svg{
        fill: var(--emphasis);
        color: var(--primary);
        position: absolute;
        top: 0;
        border: 0;
        right: 0;
    }
}

.component_poweredbyfilestash{
    display: inline-block;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.9em;
    line-height: 20px;

    position: fixed;
    bottom: 10px;
    right: 20px;
    strong{
        font-weight: normal;
        a{ text-decoration: underline; }
    }
}


.dark-mode{
    .component_poweredbyfilestash{
        color: var(--light);
    }
    .component_forkme{
        .octo-arm, .octo-body{
            fill: var(--bg-color);
        }
        .bg{ fill: var(--light); }
    }
}
