.component_page_connection_form{
    .box {
        margin-bottom: 7px;
        border-radius: 3px;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
        background: white;
    }
    div.buttons{
        display: flex;
        margin: 0px 0px 15px 0px;
        padding: 5px;
        overflow-x: auto;
        button{
            min-width: 110px;
            padding: 8px 5px;
            box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
            &:not(.active):hover {
                transition: background 0.2s ease;
                background: rgba(0,0,0,0.03);
            }
            &.active{
                transition: box-shadow 0.2s;
                box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
            }
        }
    }
    .formBody form .formbuilder {
        animation-name: PageConnectionFormBody;
        opacity: 0;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
    }
    form{
        padding-top: 5px;
        label{
            font-style: italic;
            font-size: 0.9em;
            display: block;
            text-transform: capitalize;
        }
        .advanced_form{
            max-height: 156px;
            overflow-y: auto;
            margin-top: 5px;
            padding-right: 10px;
        }
        button.emphasis{
            margin-top: 10px;
            color: white;
            text-transform: uppercase;
        }
        .third-party{
            text-align: center;
            img{
                height: 115px;
                margin: 0;
            }
        }
        input[type="checkbox"]{
            top: 0px;
            margin-right: 5px;
        }
        input.component_input[name="oauth2"]{
            display: none;
        }
    }
    .component_loader {
        margin: 45px 0;
    }
}

.component_page_connection_form.form-appear{
    opacity: 0;
    transform: translateX(5px);
}
.component_page_connection_form.form-appear.form-appear-active{
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.25s ease-out, opacity 0.5s ease-out;
}



.scroll-x{
    overflow-x: auto!important;
    overflow-y: hidden!important;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar{
        height:4px;
    }
    &::-webkit-scrollbar-track{
        background: white;
    }
    &::-webkit-scrollbar-thumb{
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        -ms-border-radius:2px;
        -o-border-radius:2px;
        border-radius:2px;
        background:rgba(0,0,0,.1)
    }
}

.dark-mode{
    div.buttons button.active{
        background: var(--bg-color);
        color: var(--super-light);
    }
}
