.CodeMirror-foldmarker {
    color: #6f6f6f;
    padding-left: 5px;
    text-shadow: #6f6f6f 0px 0px 2px;
    font-family: arial;
    line-height: .3;
    cursor: pointer;
}
.CodeMirror-foldgutter {
    width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}
