.component_page_filespage {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%;
    width: 100%;
    background: var(--bg-color);
    box-sizing: border-box;
}
body:not(.dark-mode) .component_page_filespage {
    background: linear-gradient(177deg, rgba(250,250,250,0.3) 0%, var(--bg-color) 30%);
}
.scroll-y {
    flex: 1;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch;
}
