.component_page_admin{
    display: flex;
    .adminpage { max-width: 1400px; }
    .page_container{
        width: 100%;
        background: var(--super-light);
        padding-bottom: 150px;
        padding-left: 60px;
        padding-right: 60px;
        @media screen and (max-width: 1000px) { padding-left: 30px; padding-right: 30px; }
        @media screen and (max-width: 500px) { padding-left: 10px; padding-right: 10px; }

        box-sizing: border-box;
        max-height: 100vh;

        h2{
            font-family: 'Source Code Pro', monospace;
            text-shadow: 0 0 2px var(--bg-color);
            font-size: 2em;
            padding: 50px 0 0 0;
            margin-bottom: 30px;
            margin-top: 0;
            @media screen and (max-width: 1000px) { padding: 25px 0 0 0; }
            @media screen and (max-width: 500px) { padding: 10px 0 0 0; }
            font-weight: 300;
            line-height: 1em;
            &:after{
                content: "_";
                display: block;
                font-size: 0;
                border-bottom: 3px solid var(--color);
                width: 90px;
                margin-top: 5px;
                opacity: 0.9;
                line-height: 0;
            }
        }
        .sticky h2{
            position: sticky;
            background: var(--super-light);
            z-index: 2;
            top: 0;
            opacity: 0.9;
        }
        label{
            > div{
                display: flex;
                @media screen and (max-width: 550px) {
                    display: block;
                    .nothing{ display: none; }
                    input[type="checkbox"] { top: -7px; }
                }
                > span{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    line-height: 30px;
                    min-width: 150px;
                    @media screen and (max-width: 760px) { min-width: 115px }
                    padding-right: 20px;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
        }
        a{
            color: var(--dark);
            border-bottom: 1px dashed var(--dark);
        }
        pre{
            font-family: 'Source Code Pro', monospace;
            background: var(--dark);
            font-size: 0.9em;
            padding: 10px;
            margin-bottom: 0;
            border-radius: 2px;
            color: white;
            max-width: 100%;
            overflow-x: auto;
            overflow-y: auto;
        }
        .component_loader > svg{
            height: 50px;
        }
        fieldset{
            background: white;
            border-color: rgba(0,0,0,0.05);
            border-style: solid;
            border-radius: 3px;
            margin: 15px 0;
        }
    }


    .formbuilder > div > label {
        display: block;
        border-bottom: 2px dashed rgba(0,0,0,0.1);
        margin-bottom: 15px;
        padding-bottom: 5px;
        margin-top: 15px;
    }
    .formbuilder {
        .component_input, .component_textarea, .component_select {
            background: rgba(0,0,0,0.05); border-bottom: 0;
            border-radius: 3px;
            padding-left: 5px;
            &[readonly]{
                background: var(--dark);
                color: var(--light);
            }
            &:not([readonly]):hover, &:not([readonly])focus {
                background: rgba(0,0,0,0.07);
            }
        }
        .formbuilder_password {
            img.component_icon {
                background: rgba(0, 0, 0, 0.05);
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                padding-right: 5px;
                border: none;
                height: 22px;
            }
        }
    }
}


.component_menu_sidebar{
    height: 100vh;
    background: linear-gradient(#313538, var(--dark));
    width: 250px;
    border-right: 2px solid var(--color);
    padding: 50px 0px 0px 40px;
    transition: transform 0.3s ease;
    transition-delay: 0.7s;
    h2{
        font-family: 'Source Code Pro', monospace;
        color: white;
        font-weight: 300;
        font-size: 1.5em;
        margin: 25px 0 40px 0;
    }
    ul {
        color: rgba(255,255,255,0.5);
        list-style-type: none;
        padding: 0;
        li {
            margin: 15px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            a.active, a:hover{
                color: white;
            }
            &.version {
                position: absolute;
                bottom:0;
                opacity: 0.25;
            }
        }
    }
    .header{
        display: block;
        height: 40px;
        img{
            width: 40px;
            height: 40px;
        }
        img[alt="arrow_left"]{
            position: absolute;
            margin-left: -35px;
            opacity: 0.7;
            padding: 8px;
            box-sizing: border-box;
            @media screen and (max-width: 760px) { display: none; }
        }
    }

    @media screen and (max-width: 1000px) {
        padding-left: 30px; width: 200px;
        h2 {
            font-size: 1.35em;
        }
    }
    @media screen and (max-width: 760px) {
        padding: 25px 10px;
        h2{
            margin: 15px 0 25px 0;
            font-size: 1.25em;
            padding: 0;
        }
        .version { display: none; }
    }
    @media screen and (max-width: 650px) {
        width: inherit;
        padding: 25px 10px;
        h2{ display: none; }
    }
    @media screen and (max-width: 440px) {
        padding: 5px 5px;
        ul li{
            width: 50px;
        }
    }
}


.adminpage-appear{
    transition: transform 0.3s ease, opacity 0.5s ease;
    opacity: 0;
    transform: translateX(5px);
}

.adminpage-appear.adminpage-appear-active{
    opacity: 1;
    transform: translateX(0px);
}
