.error-page{
    width: 80%;
    max-width: 600px;
    margin: 50px auto 0 auto;
    flex-direction: column;

    h1{margin: 5px 0; font-size: 3.1em;}
    h2{margin: 10px 0; font-weight: normal; opacity: 0.9; font-weight: 100;}
    p{font-style: italic;}
    a{border-bottom: 1px dashed;}
}

.backnav {
    font-weight: 100;
    .component_icon {
        height: 23px;
        margin-right: -3px;
        vertical-align: middle;
    }
    line-height: 25px;
}
