.component_page_filespage{
    .error{
        cursor: pointer;
    }
    .container{
        padding: 5px 0 20px 0;
        box-sizing: border-box;
    }
}

.scroll-y{
    overflow-y: scroll!important;
    overflow-x: hidden!important;
    -webkit-overflow-scrolling: touch;
}
