.component_page_filespage{
    display: flex;
    flex-direction: column;
    height: 100%;
    .error{
        cursor: pointer;
    }
    .container{
        padding: 5px 0 20px 0;
        box-sizing: border-box;
    }

    .page_container, .selectablegroup{
        flex: 1;
        display: flex;
        overflow: hidden;
    }
    .selectablegroup{
        overflow: hidden!important;
        > div[style] span {
            border: 1px dashed var(--light)!important;
        }
    }

    .infinite_scroll_loading{
        text-align: center;
        .component_loader{
            margin-top: -50px;
            svg{
                height: 40px;
            }
        }
    }
}

.scroll-y{
    flex: 1;
    overflow-y: scroll!important;
    overflow-x: hidden!important;
    -webkit-overflow-scrolling: touch;
    > .container{
        height: 100%;
    }
}
