@import "../assets/css/mixin.scss";

.sharepage_component {
    @include inlinedInputWithSubmit();
    .error{
        animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
    animation: 0.2s ease-out 0s 1 enterZoomIn;
}


@keyframes enterZoomIn {
    0% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
