.component_page_tag {
    display: flex;
    flex-direction: column;
    height: 100%;
    .page_container {
        flex: 1;
        display: flex;
        overflow: hidden;
    }

    .scroll-y{
        flex: 1;
        overflow-y: scroll!important;
        overflow-x: hidden!important;
        -webkit-overflow-scrolling: touch;
        .component_submenu {
            margin: 10px;
            h1 {
                font-weight: 100;
                text-transform: uppercase;
                margin: -7px 0 0 0;
                float: left;
                line-height: 30px;
            }
        }
        & > .component_container {
            padding-bottom: 50px;
            .component_thing.view-list {
                padding-left: 2px;
                padding-right: 2px;
                .file-details > i {
                    font-size: 0.9rem;
                    color: var(--light);
                }
            }
            .error {
                text-align: center;
                img { height: 200px; }
                .label { margin-top: -40px; font-size: 1.2rem; color: var(--light); }
            }
        }
    }

}
