.component_page_viewerpage{
    display: flex;
    flex-direction: column;
    height: 100%;

    .page_container{
        flex: 1;
        display: flex;
        overflow: hidden;
        width: 100%;
        > div{
            width: 100%;
            height: 100%;
            > div{
                width: 100%;
                height: 100%;
            }
        }
    }
}
