.component_audioplayer{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    > .audioplayer_container {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;


        text-align: center;
        background: #525659;
        height: 100%;
        overflow: hidden;
        padding: 20px;
        box-sizing: border-box;

        .audioplayer_error {
            color: white;
            margin-top: 30px;
        }
        .audioplayer_box {
            background: #f1f1f1;
            box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
            position: relative;

            .audioplayer_control {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 2;
                height: 30px;

                > div {
                    display: inline;
                    > span {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
