.CodeMirror {
    height: 100%;
    color: #3b4045;
    background: var(--bg-color);
    font-size: 14px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}
.CodeMirror-scroll { -webkit-overflow-scrolling: touch; }

.CodeMirror-foldmarker{
    visibility: hidden;
    &:before{
        content: "...";
        visibility: visible;
    }
}

/* SEARCH */
.CodeMirror-dialog {
	position: fixed;
	left: 0; right: 0;
	background: #525659;
	z-index: 15;
	padding: 5px .8em;
	overflow: hidden;
	color: #e2e2e2;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5)
}
.CodeMirror-dialog-top {
    border-bottom: 1px solid #eee;
    bottom: 0;
}

.CodeMirror-dialog-bottom {
    border-top: 1px solid #eee;
    bottom: 0;
}

.CodeMirror-dialog input {
    border: none;
    outline: none;
    background: transparent;
    width: 20em;
    color: white;
    font-family: monospace;
}

.CodeMirror-dialog button {
    font-size: 70%;
}

/* Highlight Theme */
.cm-s-default .cm-header {color: #3E7AA6; font-size: 1.15em; line-height: 1em;}
.cm-s-default .cm-keyword {color: #3E7AA6;}
.cm-s-default .cm-header.cm-org-level-star{color: #6f6f6f;}
.cm-s-default .cm-header.cm-org-todo{color: #FF8355;}
.cm-s-default .cm-header.cm-org-done{color: #3BB27C;}
.cm-s-default .cm-link{color: #555!important;}
.cm-s-default .cm-url{color: #555!important;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #6f6f6f;}
.cm-s-default .cm-string, .cm-s-default .cm-string-2{ color: #c41a16; }
.cm-s-default .cm-def { color: rgb(68, 85, 136); }

.CodeMirror-gutters{
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

.CodeMirror-foldmarker{
    padding-left: 5px;
    color: var(--color);
    text-shadow: 1px 1px 10px var(--color);
}
span.CodeMirror-matchingbracket {color: #0f0;}
span.CodeMirror-nonmatchingbracket {color: #f22;}

/* BUGFIX */
// https://github.com/codemirror/CodeMirror/issues/5056
.CodeMirror-cursor {
	width: 1px !important;
}
