.component_formviewer{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    > .formviewer_container {
        padding-top: 20px;
        padding-bottom: 50px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;

        .box{
            padding: 25px 20px;
            border-radius: 2px;


            .formbuilder{
                > div {
                    margin-bottom: 10px;
                    @media screen and (max-width: 470px) { margin-bottom: 20px; }


                    label.no-select > div {
                        display: flex;
                        line-height: 30px;
                        @media screen and (max-width: 470px) {
                            display: block;
                            line-height: inherit;
                            span.nothing{ position: absolute; }
                        }

                        > span {
                            display: inline-block;
                            width: 160px;
                            max-width: 160px;
                            text-align: right;
                            padding-right: 15px;
                            color: var(--emphasis);
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;

                            @media screen and (max-width: 470px) {
                                text-align: left;
                                font-weight: bold;
                            }
                            span.mandatory{
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}
