.component_ide{
    display: flex;
    flex-direction: column;
    height: 100%;
    .editor_container{
        height: 100%;
        display: flex;
        // https://stackoverflow.com/questions/44948158/flexbox-overflow-issue-in-firefox
        min-height: 0;
    }
}



.editor-appear{
    opacity: 0;
}
.editor-appear.editor-appear-active{
    transition: opacity 0.3s ease-out;
    opacity: 1;
}



.fab-appear, .fab-enter{
    opacity: 0;
}
.fab-appear.fab-appear-active, .fab-enter.fab-enter-active{
    transition: all 0.4s ease-out;
    opacity: 1;
}
.fab-leave{
    opacity: 1;
}
.fab-leave.fab-leave-active{
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
