.component_ide .component_menubar{
    background: var(--color);
    background: linear-gradient(#585b5d 94%, var(--dark));
}

// chromecast
:root {
    --disconnected-color: #F2F2F2;
    --connected-color: var(--primary);
}
google-cast-launcher{
    display: inline-block;
    height: 23px;
    width: 23px;
    cursor: pointer;
    padding: 0 5px;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.component_menubar{
    background: var(--dark);
    color: #f1f1f1;
    position: relative;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    z-index: 4;

    .component_container{
        padding: 0;
        color: var(--bg-color);
        font-size: 0.9em;
        > span{ display: flex; }
    }

    .titlebar{
        flex: 1; padding: 8px 0;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .action-item{
        .component_icon{
            height: 19px;
            width: 19px;
            cursor: pointer;
            padding: 7px 7px 5px 7px
        }
        .download-button .component_icon{
            padding-right: 1px;
        }
    }
}
.dark-mode .component_menubar {
    .component_container { color: inherit; }
    background: rgba(255,255,255,0.06)
}
.touch-yes .component_menubar .action-item{
    .component_icon{
        height: 21px;
        width: 21px;
    }
}





.menubar-appear{
    display: inline-block;
    opacity: 0;
    transform: translateY(2px);
}
.menubar-appear.menubar-appear-active{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.25s ease-out;
    transition-delay: 0.30s;
}
