.component_menubar{
    background: var(--color);
    background: linear-gradient(var(--color) 94%, var(--dark));
    color: #f1f1f1;
    position: relative;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    z-index: 4;

    .component_container{
        padding: 8px 0;
        color: var(--bg-color);
        font-size: 0.9em;
    }
}



.menubar-appear{
    display: inline-block;
    opacity: 0;
    transform: translateY(2px);
}
.menubar-appear.menubar-appear-active{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.15s ease-out;
    transition-delay: 0.2s;
}
