.component_modal.todo-modal{
    background: var(--bg-color);

    > div{
        width: calc(100% - 20px);
        max-width: 500px;
        padding: 5px;
        border-bottom-right-radius: 15px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.05);
    }
    .modal-top{
        margin: -5px -5px 0 -5px;
        padding: 30px 0px 0 30px;
        background: var(--primary);
        border-bottom: 2px solid var(--emphasis-primary);
        color: rgba(0,0,0,0.5);
        min-height: 65px;
        h1{margin: 0;}
        span{
            float: right;
            margin-top: -10px;
            .component_icon{
                margin-top: -10px;
                padding: 10px 15px;
                height: 15px;
                cursor: pointer;
            }
        }
        .search{
            text-align: right;
            label{
                background: white;
                margin-bottom: -2px;
                border-top-left-radius: 7px;
                border-left: 2px solid var(--emphasis-primary);
                border-top: 2px solid var(--emphasis-primary);
                &.active input, &:hover input{width: 150px; padding: 2px 7px; transition: width 0.2s ease-out;}
                display: inline-block;
                input{
                    transition: width 0.1s ease-out;
                    width: 0px;
                    background: inherit;
                    border: none;
                    border-top-left-radius: 7px;
                    margin: 0;
                    font-size: 1em;
                    color: var(--emphasis-secondary);
                    line-height: 25px;
                    &::-webkit-input-placeholder{ color: var(--emphasis-secondary); }
                    &:-ms-input-placeholder{ color: var(--emphasis-secondary); }
                    &::-moz-input-placeholder{ color: var(--emphasis-secondary); }
                }
                .component_icon{ height: 20px; padding: 5px; }
            }
        }
    }

    .nothing{
        color: var(--light);
        text-align: center;
        padding: 40px 0;
        font-size: 1.3em;
        text-decoration: line-through;
    }

    .container{
        margin: 10px 5px 10px 0px;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        padding: 0 10px 10px 10px;

        .sticky_header{
            z-index: 2;
            border-bottom: 2px solid var(--primary);
            h2{
                text-transform: uppercase;
                font-size: 1.1em;
                color: var(--primary);
                margin: 10px 0 15px 0;
                font-weight: normal;
                span{
                    background: var(--bg-color);
                    font-size: 0.6em;
                    color: var(--emphasis-secondary);
                    float: right;
                    line-height: 1em;
                    vertical-align: middle;
                    display: inline-block;
                    padding: 3px 5px;
                    border-radius: 3px;
                }
            }
        }
        .list{
            margin: 0px 0 40px 0;
            z-index: 0;
        }
    }

    .all-done p{
        font-size: 1.3em;
        padding: 10px 10px 10px 20px;
        color: var(--light);
    }
}





.component_headline{
    .headline-main{
        display: flex;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        border-top: 2px solid var(--super-light);
        border-bottom: 2px solid var(--super-light);
        margin-bottom: -2px;
        padding: 5px 0;

        &.overdue{color: var(--error);}
        &.done{
            color: var(--light);
            &:hover{background: inherit;}
            transition: color 0.35s ease-out;
            .title{ > div{border-color: rgba(0,0,0,0)!important;}}
        }

        .title{
            flex: 1;
            min-width: 0;
            line-height: 32px;
            .label{margin-right: 10px;}
            > div{
                border-radius: 2px;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: border-color 0.2s ease-out;

                border-left: 5px solid rgba(0,0,0,0);
                padding-left: 5px;
                &.A, &.overdue{border-color: var(--error);}
                &.B:not(.overdue){border-color: #FF8355;}
                &.C:not(.overdue){border-color: var(--bg-color);}
            }
            .component_icon{
                height: 17px;
                vertical-align: text-top;
            }
            .tags{
                display: inline-block;
                margin-left: 10px;
                font-size: 0.9em;
                .tag{
                    padding: 0 5px;
                    margin: 0 3px;
                    color: red;
                    background: var(--bg-color);
                    color: var(--light);
                    border-radius: 4px;
                    &:before{
                        content: '#';
                        color: rgba(0,0,0,0.2);
                    }
                }
            }

        }
        .component_icon{
            height: 18px;
        }


        transition: color 0.1s ease-out, border-color 0.2s ease-out;
        .title{
            position: relative;
            &:after{
                content: ' ';
                display: block;
                width: 100%;
                border-top: 2px solid var(--super-light);
                position: absolute;
                left: 0;
                bottom: -7px;
                transition: bottom 0.15s ease-out;
            }
        }
        &.done{
            transition: border-color 0.15s ease-out;
            border-color: rgba(0,0,0,0);
            .title:after{
                bottom: 15px;
                transition: bottom 0.25s ease-out;
            }
        }
    }

    .headline-properties{
        display: flex;
        > div{
            display: flex;
            width: 100%;
            label{
                display: flex;
                width: 100%;
                > div {
                    width: 100%;
                }
            }
            @media screen and (max-width: 440px) {
                width: 100%;
            }
        }

        input[type="date"] {
            width: 100%;
            background: inherit;
            border: none;
            font-size: inherit;
            font-family: inherit;
            color: inherit;
            margin: 0;
            padding: 0;
            line-height: 20px;
        }
        .component_icon{
            width: 20px;
            height: 20px;
            margin-right: 4px;
        }
        background: var(--super-light);
        color: var(--light);
        font-size: 0.95em;
        padding: 5px 8px;
    }
}


.subtask_container{
    background: #fafafa;
    color: var(--light);
    font-size: 0.95em;
    line-height: 0.95em;
    padding: 5px 0;

    .component_subtask{
        margin: 5px;
        label{
            width: 100%;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            input[type="checkbox"]{ margin: 0 5px; }
        }
    }
}
