.component_pager{
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    .wrapper{
        text-align: center;
        color: var(--bg-color);
        margin: 0 auto;
        padding: 15px 0;
        text-shadow: 0px 0px 2px var(--dark);
        > span{
            display: inline-block;
            background: var(--dark);
            padding: 5px 10px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
            .pager{
                line-height: 22px;
                .separator{padding: 0 5px;}
            }
            form{
                display: inline-block;
                input[type="number"]{
                    padding: 0;
                    text-align: right;
                    background: inherit;
                    border: none;
                    color: inherit;
                    font-size: inherit;
                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    -moz-appearance:textfield;
                }
            }
        }
    }
}
