body:not(.dark-mode) .component_pdfviewer .pdfviewer_container {
    background: #525659;
}

.component_pdfviewer{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    flex-grow: 1;

    .pdfviewer_container {
        text-align: center;
        height: 100%;
        width: 100%;
        flex-grow: 1;

        /* PDFJS */
        canvas{
            margin: 0 auto;
        }
        .react-pdf__Document{
            overflow-y: scroll;
            height: 100%;
            .react-pdf__Page{
                margin-top: 15px;
                padding-bottom: 50px;
            }
        }
    }
}
