.formbuilder .description {
    margin-top: -2px;
    margin-bottom: 10px;
    opacity: 0.7;
    font-size: 0.9em;
    line-height: 1em;
    text-align: justify;
}
.formbuilder a {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(0, 0, 0, 0.3);
}
.formbuilder input::placeholder, .formbuilder textarea::placeholder {
    opacity: 0.6;
}
.formbuilder label.input_type_hidden {
    display: none;
}
.formbuilder fieldset legend {
    text-transform: uppercase;
    color: var(--light);
    opacity: 0.9;
    font-size: 1.1em;
    padding: 0 15px;
}
.formbuilder .fileupload-image img {
    height: 150px;
    width: 100%;
    object-fit: contain;
    background: var(--bg-color);
    border-radius: 2px;
    box-sizing: border-box;
}
.formbuilder > label > img {
    max-height: 110px;
    width: 100%;
}
.formbuilder .fileupload-image object {
    background: var(--bg-color);
    height: 300px;
    width: 100%;
}
.formbuilder .formbuilder_password {
    display: flex;
}
.formbuilder .formbuilder_password img.component_icon {
    height: 19px;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
    border-bottom: 2px solid rgba(70, 99, 114, 0.1);
    transition: border-color 0.2s ease-out;
}

.formbuilder .banner {
    background: var(--bg-color);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px;
}
