.alert {
    background: var(--bg-color);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.05);
}
.alert ol, .alert ul {
    margin: 5px 0;
    padding: 0 20px;
}
.alert.success{
    background: var(--success);
}
.alert.error{
    background: var(--error);
    color: var(--bg-color);
}
.alert img{
    max-width: 100%;
    border-radius: 5px;
    border: 10px solid white;
    box-sizing: border-box;
    margin-top: 5px;
}
