.component_checkbox {
  display: inline-block;
  padding: 0;
  height: 25px;
  width: 25px;
  vertical-align: middle;
  position: relative;
}
.component_checkbox input[type="checkbox"], .component_checkbox input[type="radio"] {
    position: absolute;
    inset: 50px;
}
.component_checkbox input[type="checkbox"]:focus ~ span, .component_checkbox input[type="radio"]:focus ~ span {
    border: 2px solid rgba(0, 0, 0, 0.05);
}
.component_checkbox input[type="checkbox"]:focus:checked ~ span, .component_checkbox input[type="radio"]:focus:checked ~ span {
    border: 2px solid rgba(0, 0, 0, 0.05);
}
.component_checkbox input[type="checkbox"]:focus-visible ~ span {
    outline: 2px solid;
}
.component_checkbox input[type="checkbox"]:checked ~ span, .component_checkbox input[type="radio"]:checked ~ span {
    color: white;
    background: var(--primary) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
    border: 2px solid var(--primary);
}
.component_checkbox span {
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: rgba(198,200,204,0.3);
    border: 2px solid rgba(198,200,204,0.3);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.component_checkbox input[type="radio"] + span {
    border-radius: 50%;
}
