.box{
    padding: 10px;
    cursor: pointer;
    margin: 2px 0;
    background: white;
    box-shadow: rgba(158, 163, 172, 0.3) 0px 19px 60px, rgba(158, 163, 172, 0.22) 0px 15px 20px;
    overflow: hidden;
    position: relative;
}
