.formbuilder{
    input[type="checkbox"]{
        top: 5px;
    }
    .description{
        margin-top: -5px;
        margin-bottom: 10px;
        opacity: 0.5;
        font-size: 0.95em;
        line-height: 1em;
        text-align: justify;
    }

    input::placeholder, textarea::placeholder{
        opacity: 0.6;
    }

    label.input_type_hidden{
        display: none;
    }

    fieldset{
        legend{
            text-transform: uppercase;
            font-weight: 200;
            font-size: 1em;
            padding: 0 15px;
        }
    }

    img{
        max-height: 110px;
        border: 8px solid rgba(0,0,0,0);
    }

    .fileupload-image{
        img{
            height: 150px;
            width: 100%;
            object-fit: contain;
            background: var(--bg-color);
            border-radius: 2px;
            box-sizing: border-box;
        }
        object{
            background: var(--bg-color);
            height: 300px;
            width: 100%;
        }
    }
}
