.formbuilder{
    .description{
        margin-top: -2px;
        margin-bottom: 10px;
        opacity: 0.6;
        font-size: 0.9em;
        line-height: 1em;
        text-align: justify;
    }

    input::placeholder, textarea::placeholder{
        opacity: 0.6;
    }

    label.input_type_hidden{
        display: none;
    }

    fieldset{
        legend{
            text-transform: uppercase;
            font-weight: 200;
            font-size: 1em;
            padding: 0 15px;
        }
    }

    img{
        max-height: 110px;
        border: 8px solid rgba(0,0,0,0);
    }

    .fileupload-image{
        img{
            height: 150px;
            width: 100%;
            object-fit: contain;
            background: var(--bg-color);
            border-radius: 2px;
            box-sizing: border-box;
        }
        object{
            background: var(--bg-color);
            height: 300px;
            width: 100%;
        }
    }

    .formbuilder_password {
        display: flex;
        &:focus-within img.component_icon {
            border-color: var(--emphasis-primary);
        }
        img.component_icon {
            height: 20px;
            border: none;
            cursor: pointer;
            padding: 5px 5px;
            border-bottom: 2px solid rgba(70, 99, 114, 0.1);
            transition: border-color 0.2s ease-out;
        }
    }
}
