.component_input, .component_select{
    background: inherit;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 32px;
    display: inline-block;
    font-family: "San Francisco","Roboto","Arial",sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
    margin: 0 0 8px 0;
    outline: none;
    box-sizing: border-box;
    color: inherit;
    border-bottom: 2px solid rgba(70, 99, 114, 0.1);
    transition: border-color 0.2s ease-out;
    &:focus{
        border-color: var(--emphasis-primary);
    }
}

input.component_input[readonly], textarea.component_textarea[readonly]{
    border-bottom-style: dashed;
    cursor: pointer;
    font-style: italic;
    opacity: 0.8;
}

.component_input:-webkit-autofill,
.component_input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
.component_input[data-autocompleted] {
    background-color: transparent !important;
}


.component_checkbox {
    display: inline-block;
    padding: 0;
    height: 25px;
    width: 25px;
    vertical-align: middle;


    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input[type="checkbox"] {
        position: absolute;
        top: 0px;
        visibility: hidden;
        &:focus ~ span {
            border: 2px solid rgba(0, 0, 0, 0.05);
        }
        &:focus:checked ~ span {
            border: 2px solid rgba(0, 0, 0, 0.05);
        }
        &:checked ~ span {
            color: white;
            background: var(--primary) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
            border: 2px solid var(--primary);
        }
    }
    span {
        border-radius: 3px;
        position: absolute;
        left: 0;
        top: 3px;
        width:  12px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0.05);
        border: 2px solid rgba(0, 0, 0, 0.05);
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
