.component_input{
    background: inherit;
    border: none;
    border-radius: 0;
    width: 100%;
    display: inline-block;
    font-family: "San Francisco","Roboto","Arial",sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
    margin: 0 0 8px 0;
    outline: none;
    box-sizing: border-box;
    color: inherit;
    line-height: 18px;
    border-bottom: 2px solid rgba(70, 99, 114, 0.1);
    transition: border-color 0.2s ease-out;
    &:focus{
        border-color: var(--emphasis-primary);
    }
}

input.component_input[readonly], textarea.component_textarea[readonly]{
    border-bottom-style: dashed;
    cursor: not-allowed;
    font-style: italic;
    opacity: 0.8;
}

.component_select{
    background: inherit;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid rgba(70, 99, 114, 0.1);
    color: inherit;
    width: 100%;
    font-size: 1em;
}
