.component_notification{
    position: fixed;
    bottom: 25px;
    left: 25px;
    right: 0;
    font-size: 0.95em;

    .component_notification--container{
        width: 400px;

        text-align: left;
        display: inline-block;
        padding: 15px 25px 15px 15px;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px;
        display: flex;
        align-items: center;

        &.info{
            background: rgba(0,0,0,0.6);
            color: white;
        }
        &.error{
            background: var(--error);
            color: var(--secondary);
        }
        &.success{
            background: var(--success);
            color: var(--secondary);
        }

        .message{
            flex: 1 1 auto;
        }
        .close{
            color: rgba(0,0,0,0.3);
            cursor: pointer;
            padding: 0 2px;
            font-size: 0.95em;
        }
    }
}
