.component_textarea{
    background: inherit;
    border: none;
    border-radius: 0;
    width: 100%;
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    padding: 5px 0px 5px 0px;
    margin: 0 0 8px 0;
    outline: none;
    box-sizing: border-box;
    color: inherit;
    vertical-align: top;
    min-width: 100%;
    max-width: 100%;

    &[name="password"]{
        -webkit-text-security: disc;
    }

    border-bottom: 2px solid rgba(70, 99, 114, 0.1);
    transition: border-color 0.2s ease-out;
    &:focus{
        border-color: var(--emphasis-primary);
    }
}
