@font-face {
	font-family: 'text-security-disc';
	src: url('textarea.woff') format('woff2');
}

.component_textarea{
    background: inherit;
    border: none;
    border-radius: 0;
    width: 100%;
    display: inline-block;
    font-family: "San Francisco","Roboto","Arial",sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
    margin: 0 0 8px 0;
    outline: none;
    box-sizing: border-box;
    color: inherit;
    vertical-align: top;
    min-width: 100%;
    max-width: 100%;

    min-height: 30px;
    &[rows="1"]{
        max-height: 30px;
    }

    line-height: 18px;
    &[name="password"]{
        resize: none;
        -webkit-text-security:disc!important;
        -webkit-touch-callout: none;
        user-select: none;
        &.firefox.hasText{
            font-family: 'text-security-disc';
        }
    }

    border-bottom: 2px solid rgba(70, 99, 114, 0.1);
    transition: border-color 0.2s ease-out;
    &:focus{
        border-color: var(--emphasis-primary);
    }
}
