.component_upload_queue{
    position: fixed;
    bottom: 0;
    right: 00px;
    z-index: 999;
    width: 100%;
    max-width: 550px;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 20px 15px 15px 20px;
    box-sizing: border-box;

    h2 {
        margin: 0 0 5px 0;
        font-size: 1.2em;
        font-weight: 100;
        .percent{color: var(--emphasis-primary);}
        .count_block {
            display: inline;
            margin-left: 10px;
            span.grandTotal{
                font-size: 0.8em;
                color: var(--emphasis-secondary);
                &:before { content: "/"; }
            }
            span.completed{
                color: var(--emphasis-secondary);
            }
        }
        .component_icon {
            cursor: pointer;
            margin-left: 10px;
            width: 25px;
            float: right;
        }
    }
    h3 {
        margin: 0 0 5px 0;
        font-size: 1.0em;
        font-weight: 100;
    }
    .stats_content {
        clear: both;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        font-size: 0.85em;

        .error_color{
            color: var(--error);
        }
        .todo_color{
            color: var(--light);
        }

        .file_row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

            .file_path {
                padding: 3px 3px 3px 0;
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .file_state {
                padding: 3px 3px 3px 0;
                display: flex;
                flex-direction: column;
                width: 40px;
            }

            &:hover {
                .file_control img {
                    display: block !important;
                    cursor: pointer;
                }
            }

            .file_control {
                padding: 3px 3px 3px 0;
                display: flex;
                flex-direction: column;
                width: 18px;
                height: 18px;

                img {
                    display: none;
                }
            }
        }
    }
}
