.component_page_about {
  padding-top: 50px;
  overflow-x: auto;
}
.component_page_about table td {
    min-width: 100px;
    padding: 10px 0;
}
.component_page_about .small {
    font-size: 0.9rem;
}
