.component_dashboard .box-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 20px 0px; }
  .component_dashboard .box-container .box-item {
    position: relative;
    width: 20%; }
    @media (max-width: 1350px) {
      .component_dashboard .box-container .box-item {
        width: 25%; } }
    @media (max-width: 900px) {
      .component_dashboard .box-container .box-item {
        width: 33.33%; } }
    @media (max-width: 750px) {
      .component_dashboard .box-container .box-item {
        width: 50%; } }
    .component_dashboard .box-container .box-item > div {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
      margin: 3px;
      padding: 30px 0;
      text-align: center;
      color: rgba(0, 0, 0, 0.3);
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
      font-size: 1.1em;
      text-transform: uppercase;
      border-radius: 2px;
      background: var(--light); }
      @media (max-width: 900px) {
        .component_dashboard .box-container .box-item > div {
          padding: 25px 0; } }
      @media (max-width: 750px) {
        .component_dashboard .box-container .box-item > div {
          padding: 20px 0; } }
      .component_dashboard .box-container .box-item > div > span {
        display: none; }
      .component_dashboard .box-container .box-item > div:hover > span {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0;
        bottom: 0;
        font-size: 2.3rem;
        font-family: monospace;
        line-height: 25px;
        color: var(--color);
        text-shadow: none;
        background: var(--emphasis-primary);
        padding: 18px 0;
        margin: 6px;
        opacity: 0.95; }
        @media (max-width: 900px) {
          .component_dashboard .box-container .box-item > div:hover > span {
            padding: 12px 0; } }
        @media (max-width: 750px) {
          .component_dashboard .box-container .box-item > div:hover > span {
            padding: 7px 0; } }
        .component_dashboard .box-container .box-item > div:hover > span .icon {
          background: var(--primary);
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: inline-block;
          line-height: 40px;
          opacity: 0.6;
          color: white; }
          .component_dashboard .box-container .box-item > div:hover > span .icon .component_icon {
            padding: 7px;
            width: 25px;
            height: 25px; }
    .component_dashboard .box-container .box-item.active > div {
      background: var(--primary);
      transition: background 0.1s; }
    .component_dashboard .box-container .box-item.pointer {
      cursor: pointer; }
    .component_dashboard .box-container .box-item.no-select {
      user-select: none; }
.component_dashboard form > div {
  position: relative; }
  .component_dashboard form > div > .icons {
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    border: 3px solid var(--bg-color);
    background: var(--primary);
    cursor: pointer;
    right: -15px;
    top: -5px; }
    .component_dashboard form > div > .icons .component_icon {
      height: 20px; }
.component_dashboard .component_storagebackend form {
  width: calc(100% - 15px); }
