.component_setup {
    transform: none !important;
}
.component_setup h4 {
    user-select: none;
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    padding: 20px 0 0px 0;
}
.component_setup h4 .component_icon {
    width: 1.3em;
    cursor: pointer;
}
.component_setup h4 .component_icon[alt="loading"] {
    opacity: 0;
}
.component_setup #step1 p {
    font-size: 1.05em;
    margin-bottom: 5px;
}
.component_setup #step1 form {
    max-width: 400px;
}

.component_setup #step2 .component_dependency_installed {
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.6);
}
.component_setup #step2 .component_dependency_installed.yes {
    background: var(--success);
}
.component_setup #step2 .component_dependency_installed.no {
    background: var(--primary);
}
.component_setup #step2 .component_dependency_installed.no.severe {
    background: var(--error);
}
.component_setup #step2 .component_dependency_installed strong {
    font-weight: bold;
    font-style: italic;
    display: block;
}
.component_setup .stepper-form-appear, .component_setup .stepper-form-enter {
    transition-delay: 0.3s;
    transform: scale(1.02);
    opacity: 0;
    transition: all 0.3s ease;
}
.component_setup .stepper-form-appear.stepper-form-appear-active,
.component_setup .stepper-form-appear.stepper-form-enter-active,
.component_setup .stepper-form-enter.stepper-form-appear-active,
.component_setup .stepper-form-enter.stepper-form-enter-active {
    opacity: 1;
    transform: scale(1);
}
.component_setup .component_icon {
    width: 30px;
}

.pulse {
  animation: zoomPulse 1.2s ease-in-out infinite;
  transform-origin: center left;
}
@keyframes zoomPulse {
  0%, 100% { transform: scale(1.03); }
  50%      { transform: scale(1.07); }
}
