.component_page_admin {
    display: flex;
}
.component_page_admin .adminpage {
    max-width: 1400px;
}
.component_page_admin .page_container {
    width: 100%;
    background: #fdfdfc;
    padding-bottom: 150px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    max-height: 100vh;
}
.component_page_admin .page_container.scroll-y > div {
    max-width: 1300px;
}
@media screen and (max-width: 1000px) {
    .component_page_admin .page_container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (max-width: 500px) {
    .component_page_admin .page_container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.component_page_admin .page_container h2 {
    font-family: 'Source Code Pro', monospace;
    text-shadow: 0 0 2px var(--bg-color);
    font-size: 2em;
    padding: 50px 0 0 0;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: normal;
    line-height: 1em;
    margin-left: -60px;
    margin-right: -60px;
    padding-left: 60px;
    padding-right: 60px;
}
@media screen and (max-width: 1000px) {
    .component_page_admin .page_container h2 {
        padding-top: 25px;
    }
}
@media screen and (max-width: 500px) {
    .component_page_admin .page_container h2 {
        padding-top: 10px;
    }
}
.component_page_admin .page_container h2:after {
    content: "_";
    display: block;
    font-size: 0;
    border-bottom: 3px solid var(--color);
    width: 90px;
    margin-top: 5px;
    opacity: 0.9;
    line-height: 0;
}
.component_page_admin .page_container .sticky h2 {
    position: sticky;
    background: rgba(253, 253, 252, 0.9);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.02);
    z-index: 2;
    top: 0;
}
@media screen and (max-width: 550px) {
    .component_page_admin .page_container label > div {
        display: block;
    }
    .component_page_admin .page_container label > div .nothing {
        display: none;
    }
}
.component_page_admin .page_container label > div > span {
    display: inline-block;
    line-height: 30px;
    min-width: 150px;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
@media screen and (max-width: 760px) {
    .component_page_admin .page_container label > div > span {
        min-width: 115px;
    }
}

/* form builder */
.component_page_admin .page_container label > div .component_checkbox .indicator {
    top: 6px;
}
.component_page_admin .page_container a {
    color: var(--dark);
    border-bottom: 1px dashed var(--dark);
}
.component_page_admin .page_container pre {
    font-family: 'Source Code Pro', monospace;
    background: var(--dark);
    font-size: 0.9em;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 2px;
    color: white;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}
.component_page_admin .page_container .component_loader > svg {
    height: 50px;
}
.component_page_admin .page_container fieldset {
    background: white;
    border-color: rgba(0, 0, 0, 0.05);
    border-style: solid;
    border-radius: 3px;
    margin: 15px 0 0 0;
}

.component_page_admin .formbuilder h2 ~ div > div > label,
.component_page_admin .formbuilder h2 ~ div > div > div > label {
    display: block;
    border-bottom: 2px dashed var(--border);
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-top: 15px;
}
.component_page_admin .formbuilder .component_input,
.component_page_admin .formbuilder .component_textarea,
.component_page_admin .formbuilder .component_select {
    background: var(--border);
    border: 2px solid var(--border);
    border-radius: 3px;
    padding-left: 5px;
}
.component_page_admin .formbuilder .component_input:not([disabled]):hover,
.component_page_admin .formbuilder .component_input:not([disabled]):focus,
.component_page_admin .formbuilder .component_textarea:not([disabled]):hover,
.component_page_admin .formbuilder .component_textarea:not([disabled]):focus,
.component_page_admin .formbuilder .component_select:not([disabled]):hover,
.component_page_admin .formbuilder .component_select:not([disabled]):focus {
    background: rgba(0, 0, 0, 0.07);
}
.component_page_admin form .formbuilder_password:focus-within img.component_icon,
.component_page_admin form .formbuilder_password:hover img.component_icon{
    border-color: rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.07);
}
.component_page_admin .formbuilder .formbuilder_password .component_input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.component_page_admin .formbuilder_password img.component_icon {
    border: 2px solid rgba(0, 0, 0, 0.05);
    height: 19px;
    border-left: none;
    background: rgba(0, 0, 0, 0.05);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 5px;
}
.component_page_admin .formbuilder input::placeholder,
.component_page_admin .formbuilder textarea::placeholder {
    opacity: 0.6;
}
