[is="component_filesystem"] .component_filesystem {
    padding-top: 5px;
}
[is="component_filesystem"] .empty {
    text-align: center;
    font-weight: 100;

    margin: 0 auto;
    opacity: 0.9;
    font-size: 1.2rem;
    color: var(--light);
    height: 100%;
    opacity: 0.8;
    font-family: sans-serif;

    padding: 50px 0;
    @media screen and (max-width: 420px) {
        padding: 30px;
    }
}
[is="component_filesystem"] .empty .component_icon {
    height: 200px;
}
[is="component_filesystem"] .empty .label {
    margin-top: -40px;
}
