.component_newitem {
    overflow: hidden;
}
.component_newitem .component_thing {
    margin: 2px 0;
}
.component_newitem .component_thing .box {
    margin: 0;
}
.component_newitem .component_thing .component_action {
    display: block;
}
