.component_modal .modal-error-message {
    height: 1rem;
    margin-top: -5px;
}
.component_modal .modal-error-message:not(:empty) {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
