.component_tag {
    font-size: 1rem;
}
.component_tag input {
    font-size: 1.15rem;
    border: 2px solid var(--border);
    border-radius: 3px;
    padding: 2px 5px;
    color: var(--color);
}
.component_tag input::placeholder {
    color: rgba(0,0,0,0.2);
}
.component_tag .box {
    display: flex;
    background: var(--bg-color);
    transition: background 0.1s ease;
    padding: 2px 5px 2px 8px;
    border-radius: 3px;
    font-size: 0.95rem;
}
.component_tag .box.active {
    background: var(--primary);
}
.component_tag .box > div {
    flex-grow: 1;
}
.component_tag .box img {
    width: 20px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    margin-left: 5px;
}
.component_tag .box img[alt="close"] {
    width: 14px;
    padding: 5px;
}

.component_tag .scroll-y {
    overflow-y: auto !important;
    max-height: 200px;
}
