.component_tag {
    font-size: 1rem;
}
.component_tag form {
    margin-bottom: 15px;
}
.component_tag form input {
    font-size: 1rem;
    border: 2px solid var(--border);
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--color);
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.component_tag form input::placeholder {
    color: rgba(0,0,0,0.2);
}
.component_tag [data-bind="taglist"] {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin: -3px 0 0px 0px;
    padding: 0;
}
.component_tag [data-bind="taglist"] .component_skeleton {
    margin: 0;
    height: 29px;
}
.component_tag .tag {
    display: flex;
    background: #f2f2f2;
    transition: all 0.1s ease;
    padding: 3px 5px 3px 12px;
    border-radius: 5px;
    margin: 0;
    font-size: 0.95rem;
    cursor: pointer;
    letter-spacing: -0.5px;
    text-transform: lowercase;
}
.component_tag .tag.active {
    background: var(--dark);
    color: #f2f2f2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.component_tag .tag svg {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    padding: 4px;
}
.touch-no .component_tag .tag svg:hover {
    background: rgba(0, 0, 0, 0.05);
}
.touch-no .component_tag .tag.active svg:hover {
    background: rgba(255, 255, 255, 0.15);
}
.component_tag .tag img[alt="close"] {
    width: 14px;
    padding: 5px;
}
.component_tag .scroll-y {
    overflow-y: auto !important;
    max-height: 200px;
}
